*
!.git/
!.git/**
!.github/
!.github/**
!.vscode/
!.vscode/**
!.gitignore
!.gitempty

!CHANGELOG.md
!LICENCE
!README.md
!SECURITY.md

!__templates/
!__templates/**
!terraform/
!terraform/**

!kubernetes/
kubernetes/*
!kubernetes/README.md
!kubernetes/helm/
!kubernetes/helm/**
!kubernetes/kube/
!kubernetes/kube/**
